<!DOCTYPE html>
<html>
<head>
	<title>New Item</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>

	<h1>New Grocery Item</h1>

	<form action="/grocery" method="POST">
		<input type="text" name="name">Name</input><br>
		<input type="number" name="amount">Amount</input><br>
		<button type="submit">Submit</button><br>
	</form>

</body>
</html>
