<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Grocery Item Show Page</title>
</head>
<body>
    <h1>Grocery Show Page</h1>

    <div>
      <h2><%= grocery.name %></h2>
      <h3><%= grocery.amount%></h3>
      <h4><a href="/grocery/<%=grocery._id%>/edit">EDIT ITEM</a></h4>
    </div>




</body>
</html>
